.banner {
    background: url("./ukk_nadia-main/SMK\ NEGERI\ 42.jpg");
    background-repeat: no-repeat;
    background-color: cover;
    padding-top: 20%;
    padding-bottom: 20%;
    color: #FFF;
}
